@font-face {
    font-family: "Inconsolata";
    src: url("/font/static/Inconsolata/Inconsolata-Regular.ttf");
}

@font-face {
    font-family: "Inconsolata Bold";
    src: url("/font/static/Inconsolata/Inconsolata-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata";
    --bg-red: #dc182f40;
    --red: #dc182f;
    color: #454444;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

html {
    background-color: #eeede3;
}

/* HEADER */

header#header {
    position: fixed;
    top: 0;
    background-color: #eeede3;
    width: 100%;
    z-index: 999;
}

nav {
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
}

div.container-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    height: 4rem;
}

/* Input caché qui permet d'ajouter l'attribut :checked en css (pour déployer le menu lorsqu'on clique sur le bouton hamburger) */

input#burger {
    display: none;
}

label.label-burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

div.bar1 {
    width: 2.5rem;
    background-color: #454444;
    height: 0.1rem;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease;
}

div.bar2 {
    width: 1.5rem;
    background-color: #454444;
    height: 0.1rem;
    transition: all 0.5s ease;
}

/* Quand on clique sur l'input en display:none, les 2 bars de l'icône hamburger rotate pour former une croix */

input#burger:checked+label.label-burger div.bar1 {
    transform: rotate(45deg);
    margin-bottom: 0;
}

input#burger:checked+label.label-burger div.bar2 {
    transform: translateY(-0.2rem) rotate(-45deg);
    width: 2.5rem;
}

div.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.logo img {
    height: 3rem;
}

/* Overlay qui contient le menu en height 0 pour le cacher */

div#overlay {
    position: fixed;
    width: 100%;
    height: 0;
    background-color: #eeede3;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 1s ease;
    overflow: hidden;
}

/* Overlay avec menu qui s'ouvre quand on clique sur le bouton hamburger */

input#burger:checked+label.label-burger~div#overlay {
    height: 100vh;
}

div.menu-links {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

div.menu-links a {
    text-decoration: none;
    opacity: 0;
    transition: all 0.5s ease;
    font-size: 2rem;
    font-family: "Inconsolata bold";
    text-transform: uppercase;
    z-index: 1;
}

input#burger:checked+label.label-burger~div#overlay div.menu-links a {
    opacity: 1;
    transition: all 3s ease;
}

div.menu-links img {
    display: none;
}

/* BODY */

/* ACCUEIL */

#accueil {
    height: 100vh;
    display: flex;
    position: relative;
}

#title1 {
    display: flex;
    width: 100%;
}

#title1 img{
    display: flex;
    width: 100%;
    margin:auto;
}


#anim1 svg {
    width: 20vh;
    height: auto;
    position: absolute;
    top: 10%;
    right: 10%;
    animation: toast 2s ease;
    transform: rotate(347deg);
}

@keyframes toast {
    0% {
        top: 10%;
        right: -40%;
    }
    100% {
        top: 10%;
        right: 10%;
    }
}


#shaker svg{
    position: absolute;
    left: -30%;
    width: 40%;
    bottom: 15%;
    animation: shake 2s 2.5s, rotate 4s 3.5s, glisse1 2s 1.5s forwards;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    5% { transform: translate(-1px, -2px) rotate(-3deg); }
    10% { transform: translate(-3px, 0px) rotate(3deg); }
    15% { transform: translate(3px, 2px) rotate(0deg); }
    20% { transform: translate(1px, -1px) rotate(3deg); }
    25% { transform: translate(-1px, 2px) rotate(-3deg); }
    30% { transform: translate(-3px, 1px) rotate(0deg); }
    35% { transform: translate(3px, 1px) rotate(-3deg); }
    40% { transform: translate(-1px, -1px) rotate(3deg); }
    45% { transform: translate(1px, 2px) rotate(0deg); }
    50% { transform: translate(1px, -2px) rotate(-3deg); }
    55% { transform: translate(1px, 1px) rotate(0deg); }
    60% { transform: translate(-3px, 0px) rotate(3deg); }
    65% { transform: translate(3px, 2px) rotate(0deg); }
    70% { transform: translate(1px, -1px) rotate(3deg); }
    75% { transform: translate(-1px, 2px) rotate(-3deg); }
    80% { transform: translate(-3px, 1px) rotate(0deg); }
    85% { transform: translate(3px, 1px) rotate(-3deg); }
    90% { transform: translate(-1px, -1px) rotate(3deg); }
    95% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-3deg); }
  }

@keyframes rotate{
    0%{transform: rotate(0deg);}
    40%{transform: rotate(60deg);}
    60%{transform: rotate(60deg);}
    100%{transform: rotate(0deg);}
}
@keyframes glisse1 {
    0% {left: -30%}
    100% {left: 2%;}
}

#hautShaker{
    animation: ouvre 2s 4.5s ;
}
@keyframes ouvre{
    0%{transform-origin: 34% 38% ;transform: rotate(0deg);}
    50%{transform-origin: 34% 38% ;transform: rotate(-50deg);}
    100%{transform-origin: 34% 38% ;transform: rotate(0deg);}

}

#verreBar{
    position: absolute;
    bottom: 5%;
    left: 100%;
    width: 40%;
    transform: rotate(12deg);
    animation: glisse 3s 1.5s forwards;
}

@keyframes glisse {
    0% {left: 100%}
    100% {left: 15%;}
}

#liquide{
    opacity: 0;
    animation: remplir 2s 4.5s forwards;
}

@keyframes remplir{
    0%{opacity: 0;}
    100%{opacity: 1;}
    ;
}

/* QUI SOMMES ABOUT ? */

#about img {
    width: 100%;
    padding: 1rem;
}

.text-center {
    line-height: 1.5;
    padding: 1rem;
    text-align: center;
}

/*CREATEUR D'EVENEMENT*/

#creator div img{
    max-width: 100%;
}

.losange, .rond, .triangle{
    background-color: #dc182f2b;
    position: absolute;
}

.losange{
    height: 25%;
    width: 70%;
    transform: rotate(45deg);
}

/* MEDIA QUERIES */

@media (min-width: 1024px) {
    div.menu-links img {
        display: block;
        opacity: 0;
        position: absolute;
        height: 50vh;
    }
    div.menu-links img.img-accueil {
        top: 25%;
        right: 25%;
        transform: rotate3d(1, 1, 1, 90deg);
        transition: opacity 1s ease;
        animation: disparition3d 1s ease forwards;
    }
    div.menu-links a.link-accueil:hover~img.img-accueil {
        opacity: 1;
        animation: apparition3d 1s ease forwards;
    }
    @keyframes apparition3d {
        0% {
            transform: rotate3d(1, 1, 1, 90deg);
        }
        100% {
            transform: rotate3d(1, 1, 1, 20deg);
        }
    }
    @keyframes disparition3d {
        0% {
            transform: rotate3d(1, 1, 1, 20deg);
        }
        100% {
            transform: rotate3d(1, 1, 1, 90deg);
        }
    }
    
}   /*ACCUEIL*/
    
   #title1 img{
    height: 80%;
}    

#shaker svg{
width: 20%;
bottom: 20%;
}

#verreBar{
    width: 20%;
}
@keyframes glisse {
    0% {left: 100%}
    100% {left: 10%;}
} 