@font-face {
    font-family: "Inconsolata";
    src: url("/font/static/Inconsolata/Inconsolata-Regular.ttf");
}

@font-face {
    font-family: "Inconsolata Bold";
    src: url("/font/static/Inconsolata/Inconsolata-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata";
    --bg-red: #dc182f40;
    --red: #dc182f;
    color: #454444;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

html {
    background-color: #eeede3;
    height: 100%;
}


/* HEADER */

header#header {
    position: fixed;
    top: 0;
    background-color: #eeede3;
    width: 100%;
    z-index: 999;
}

nav {
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
}

div.container-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    height: 4rem;
}

input#burger {
    display: none;
}

label.label-burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

div.bar1 {
    width: 2.5rem;
    background-color: #454444;
    height: 0.1rem;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease;
}

div.bar2 {
    width: 1.5rem;
    background-color: #454444;
    height: 0.1rem;
    transition: all 0.5s ease;
}

input#burger:checked+label.label-burger div.bar1 {
    transform: rotate(45deg);
    margin-bottom: 0;
}

input#burger:checked+label.label-burger div.bar2 {
    transform: translateY(-0.2rem) rotate(-45deg);
    width: 2.5rem;
}

div.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.logo img {
    height: 3rem;
}

div#overlay {
    position: fixed;
    width: 100%;
    height: 0;
    background-color: #eeede3;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 1s ease;
    overflow: hidden;
}

input#burger:checked+label.label-burger~div#overlay {
    height: 100vh;
}

div.menu-links {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    text-align: center;
}

div.menu-links a {
    text-decoration: none;
    opacity: 0;
    transition: all 0.5s ease;
    font-size: 2rem;
    font-family: "Inconsolata bold";
    text-transform: uppercase;
    z-index: 1;
}

input#burger:checked+label.label-burger~div#overlay div.menu-links a {
    opacity: 1;
    transition: all 2s ease;
}

div.menu-links img {
    display: none;
}


/* BODY */

section {
    margin-bottom: 10rem;
}


/* ACCUEIL */

section#accueil {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

div.container-home {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
}

div.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

div.title img {
    width: 95%;
}

div.animation-shaker {
    width: 100%;
}

div#shaker svg {
    position: absolute;
    left: -30%;
    width: 30%;
    bottom: 15%;
    animation: shake 2s 2.5s, rotate 4s 3.5s, glisse1 2s 1.5s forwards;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    5% {
        transform: translate(-1px, -2px) rotate(-3deg);
    }
    10% {
        transform: translate(-3px, 0px) rotate(3deg);
    }
    15% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    20% {
        transform: translate(1px, -1px) rotate(3deg);
    }
    25% {
        transform: translate(-1px, 2px) rotate(-3deg);
    }
    30% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    35% {
        transform: translate(3px, 1px) rotate(-3deg);
    }
    40% {
        transform: translate(-1px, -1px) rotate(3deg);
    }
    45% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    50% {
        transform: translate(1px, -2px) rotate(-3deg);
    }
    55% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    60% {
        transform: translate(-3px, 0px) rotate(3deg);
    }
    65% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    70% {
        transform: translate(1px, -1px) rotate(3deg);
    }
    75% {
        transform: translate(-1px, 2px) rotate(-3deg);
    }
    80% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    85% {
        transform: translate(3px, 1px) rotate(-3deg);
    }
    90% {
        transform: translate(-1px, -1px) rotate(3deg);
    }
    95% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-3deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(60deg);
    }
    60% {
        transform: rotate(60deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes glisse1 {
    0% {
        left: -30%
    }
    100% {
        left: 2%;
    }
}

#hautShaker {
    animation: ouvre 2s 4.5s;
}

@keyframes ouvre {
    0% {
        transform-origin: 34% 38%;
        transform: rotate(0deg);
    }
    50% {
        transform-origin: 34% 38%;
        transform: rotate(-50deg);
    }
    100% {
        transform-origin: 34% 38%;
        transform: rotate(0deg);
    }
}

#verreBar {
    position: absolute;
    bottom: 5%;
    left: 100%;
    width: 30%;
    transform: rotate(12deg);
    animation: glisse2 3s 1.5s forwards;
}

@keyframes glisse2 {
    0% {
        left: 100%;
    }
    100% {
        left: 15%;
    }
}

#liquide {
    opacity: 0;
    animation: remplir 2s 4.5s forwards;
}

@keyframes remplir {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* QUI SOMMES NOUS ? */

#about {
    width: 100%;
}

.text-center {
    text-align: center;
    padding: 1rem;
}

#about img {
    max-width: 100%;
    padding: 1rem;
}


/*CREATEUR D'EVENEMENT*/

#game,
#workshop {
    height: 100%;
    margin-bottom: 3rem;
}

#creator div img {
    max-width: 100%;
}

.content {
    height: 100%;
}

.losange {
    height: 100%;
    width: 100%;
}

.losange img,
.triangle img,
.circle img {
    position: absolute;
    width: 100%;
    z-index: -1;
}

#mojito {
    width: 75%;
    display: block;
    margin: auto;
}

.text-number {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
}

#creator button {
    display: flex;
    margin: auto;
    padding: 1rem;
    background-color: #dc182f8e;
    border: 0;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.2rem;
}


/* TÉMOIGNAGES */

div.guillemets {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div.guillemets img {
    width: 8rem;
}


/*ACTUALITE*/

#actu img {
    max-width: 100%;
}

#actu button {
    display: flex;
    margin: auto;
    padding: 1rem;
    background-color: black;
    color: white;
    border: 0;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.2rem;
}


/*CONTACT*/

#contact p,
#contact h4 {
    padding: 0.5rem 2rem;
}

#contact h4 {
    color: var(--red);
}

#contact img {
    max-width: 100%;
    margin: 2rem 0;
}


/*FOOTER*/

#contact {
    margin-bottom: 0;
}

footer img {
    max-width: 100%;
}

#footer {
    display: flex;
    flex-direction: column;
}

#logoFooter {
    width: 40%;
    display: flex;
    margin: auto;
}

#footer a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 0 1.5rem 2rem;
}

#follow {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    text-align: center;
}

#socialLink {
    display: flex;
    padding: 0 1.5rem 1.5rem 1.5rem;
    justify-content: center;
}

#socialLink img {
    display: flex;
    width: 10%;
    margin-right: 1rem;
}

footer p:last-child {
    text-align: center;
    padding: 1rem;
}

#cocktail-contact {
    display: none;
}

#textFooter {
    display: flex;
    flex-direction: column;
}


/* MEDIA QUERIES */

@media (min-width: 481px) and (max-width: 767px) {
    div.title img {
        width: 85%;
    }
    div#shaker svg {
        width: 25%;
    }
    div#verreBar {
        width: 25%;
    }
    @keyframes glisse2 {
        0% {
            left: 100%;
        }
        100% {
            left: 12%;
        }
    }
    #divider1 {
        display: none;
    }
    #aboutText {
        order: 2;
    }
    #about div.title,
    #creator div.title,
    #testimonials div.title,
    #actu div.title,
    #contact div.title {
        width: 50%;
        margin: auto;
    }
    #aboutContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 3em;
    }
    #divider1 {
        order: 1;
        transform: rotate(90deg);
    }
    #aboutText {
        order: 2;
        margin: auto;
    }
    #divider2,
    #divider3 {
        display: flex;
        margin: auto;
    }
    #gameContent,
    #workshopContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 3em;
    }
    .content {
        width: 20%;
    }
    .losange img,
    .triangle img,
    .circle img {
        position: absolute;
        width: 18%;
        z-index: -1;
    }
    #imgActu1 {
        display: flex;
        margin: auto;
    }
    div.title img {
        width: 80%;
    }
    div#shaker svg {
        width: 25%;
    }
    div#verreBar {
        width: 25%;
    }
    @keyframes glisse2 {
        0% {
            left: 100%;
        }
        100% {
            left: 10%;
        }
    }
    #about div.title,
    #creator div.title,
    #testimonials div.title,
    #actu div.title,
    #contact div.title {
        width: 80%;
        margin: auto;
    }
    #aboutContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 3em;
    }
    #divider1 {
        order: 1;
        transform: rotate(90deg);
    }
    #aboutText {
        order: 2;
        margin: auto;
    }
    #divider2,
    #divider3 {
        display: flex;
        margin: auto;
    }
    #gameContent,
    #workshopContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 3em;
    }
    .content {
        width: 35%;
    }
    .losange img,
    .triangle img,
    .circle img {
        position: absolute;
        width: 28%;
        z-index: -1;
    }
    #imgActu1 {
        display: flex;
        margin: auto;
    }
    #cocktail-contact {
        display: flex;
        width: 10%;
        margin: 0;
    }
    #contactContent {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #divider4 {
        transform: rotate(90deg);
        width: 20%;
        margin: 0;
    }
    #contactText,
    #textFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #contentFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: end;
        padding: 0 3em;
    }
    #logoFooter {
        position: relative;
        order: -1;
        width: 35%;
    }
    #footer {
        margin: auto;
    }
    #socialLink {
        display: flex;
        padding: 0;
        margin: auto;
        flex-wrap: nowrap;
        justify-content: center;
    }
    #follow {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    div.title img {
        width: 65%;
    }
    div#shaker svg {
        width: 20%;
    }
    div#verreBar {
        width: 20%;
    }
    @keyframes glisse2 {
        0% {
            left: 100%;
        }
        100% {
            left: 12%;
        }
    }
    div.title img {
        width: 50%;
    }
    div#shaker svg {
        width: 15%;
    }
    div#verreBar {
        width: 15%;
    }
    @keyframes glisse2 {
        0% {
            left: 100%;
        }
        100% {
            left: 10%;
        }
    }
    #about div.title,
    #creator div.title,
    #testimonials div.title,
    #actu div.title,
    #contact div.title {
        width: 50%;
        margin: auto;
    }
    #aboutContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 3em;
    }
    #divider1 {
        order: 1;
        transform: rotate(90deg);
    }
    #aboutText {
        order: 2;
        margin: auto;
    }
    #divider2,
    #divider3 {
        display: flex;
        margin: auto;
    }
    #gameContent,
    #workshopContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 3em;
    }
    .content {
        width: 20%;
    }
    .losange img,
    .triangle img,
    .circle img {
        position: absolute;
        width: 18%;
        z-index: -1;
    }
    #imgActu1 {
        display: flex;
        margin: auto;
    }
    #cocktail-contact {
        display: flex;
        width: 10%;
        margin: 0;
    }
    #contactContent {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #divider4 {
        transform: rotate(90deg);
        width: 20%;
        margin: 0;
    }
    #contactText,
    #textFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #contentFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: end;
    }
    #logoFooter {
        position: relative;
        order: -1;
        width: 25%;
    }
    #footer {
        margin: auto;
    }
    #socialLink {
        display: flex;
        padding: 0;
        margin: auto;
        flex-wrap: nowrap;
        justify-content: center;
    }
    #follow {
        text-align: center;
    }
}

@media (min-width: 1024px) {
    div.menu-links img {
        display: block;
        opacity: 0;
        position: absolute;
        height: 50vh;
    }
    div.menu-links img.img-bg-accueil {
        top: 25%;
        right: 5%;
        transform: rotate3d(1, 1, 1, 90deg);
        transition: opacity 1s ease;
        animation: rightDisparition3d 1s ease forwards;
    }
    div.menu-links a.link-accueil:hover~img.img-bg-accueil {
        opacity: 1;
        animation: rightApparition3d 1s ease forwards;
    }
    div.menu-links img.img-bg-about {
        top: 25%;
        left: 5%;
        transform: rotate3d(1, 1, 1, -90deg);
        transition: opacity 1s ease;
        animation: leftDisparition3d 1s ease forwards;
    }
    div.menu-links a.link-about:hover~img.img-bg-about {
        opacity: 1;
        animation: leftApparition3d 1s ease forwards;
    }
    div.menu-links img.img-bg-evenements {
        top: 25%;
        right: 5%;
        transform: rotate3d(1, 1, 1, 90deg);
        transition: opacity 1s ease;
        animation: rightDisparition3d 1s ease forwards;
    }
    div.menu-links a.link-evenements:hover~img.img-bg-evenements {
        opacity: 1;
        animation: rightApparition3d 1s ease forwards;
    }
    div.menu-links img.img-bg-temoignages {
        top: 25%;
        left: 5%;
        transform: rotate3d(1, 1, 1, -90deg);
        transition: opacity 1s ease;
        animation: leftDisparition3d 1s ease forwards;
    }
    div.menu-links a.link-temoignages:hover~img.img-bg-temoignages {
        opacity: 1;
        animation: leftApparition3d 1s ease forwards;
    }
    div.menu-links img.img-bg-actualites {
        top: 25%;
        right: 5%;
        transform: rotate3d(1, 1, 1, 90deg);
        transition: opacity 1s ease;
        animation: rightDisparition3d 1s ease forwards;
    }
    div.menu-links a.link-actualites:hover~img.img-bg-actualites {
        opacity: 1;
        animation: rightApparition3d 1s ease forwards;
    }
    div.menu-links img.img-bg-contact {
        top: 25%;
        left: 5%;
        transform: rotate3d(1, 1, 1, -90deg);
        transition: opacity 1s ease;
        animation: leftDisparition3d 1s ease forwards;
    }
    div.menu-links a.link-contact:hover~img.img-bg-contact {
        opacity: 1;
        animation: leftApparition3d 1s ease forwards;
    }
    @keyframes rightApparition3d {
        0% {
            transform: rotate3d(1, 1, 1, 90deg);
        }
        100% {
            transform: rotate3d(1, 1, 1, 20deg);
        }
    }
    @keyframes rightDisparition3d {
        0% {
            transform: rotate3d(1, 1, 1, 20deg);
        }
        100% {
            transform: rotate3d(1, 1, 1, 90deg);
        }
    }
    @keyframes leftApparition3d {
        0% {
            transform: rotate3d(1, 1, 1, -90deg);
        }
        100% {
            transform: rotate3d(1, 1, 1, -10deg);
        }
    }
    @keyframes leftDisparition3d {
        0% {
            transform: rotate3d(1, 1, 1, -10deg);
        }
        100% {
            transform: rotate3d(1, 1, 1, -90deg);
        }
    }
    div.title img {
        width: 50%;
    }
    div#shaker svg {
        width: 12%;
    }
    div#verreBar {
        width: 12%;
    }
    @keyframes glisse2 {
        0% {
            left: 100%;
        }
        100% {
            left: 8%;
        }
    }
    #about div.title,
    #creator div.title,
    #testimonials div.title,
    #actu div.title,
    #contact div.title {
        width: 50%;
        margin: auto;
    }
    #aboutContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 3em;
    }
    #divider1 {
        order: 1;
        transform: rotate(90deg);
    }
    #aboutText {
        order: 2;
        margin: auto;
    }
    #divider2,
    #divider3 {
        display: flex;
        margin: auto;
    }
    #gameContent,
    #workshopContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 3em;
    }
    .content {
        width: 20%;
    }
    .losange img,
    .triangle img,
    .circle img {
        position: absolute;
        width: 18%;
        z-index: -1;
    }
    #imgActu1 {
        display: flex;
        margin: auto;
    }
    #cocktail-contact {
        display: flex;
        width: 10%;
        margin: 0;
    }
    #contactContent {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #divider4 {
        transform: rotate(90deg);
        width: 20%;
        margin: 0;
    }
    #contactText,
    #textFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #contentFooter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: end;
    }
    #logoFooter {
        position: relative;
        order: -1;
        width: 25%;
        margin: 0;
    }
    #footer {
        margin: auto;
    }
    #socialLink {
        display: flex;
        padding: 0;
        margin: auto;
        flex-wrap: nowrap;
        justify-content: center;
    }
    #follow {
        text-align: center;
    }
}